<h3>Pood</h3>
</hr>
<div>
<div style="border: 2px solid; black; border-radius: 5px; display">
    <dl class="row">
        <div class="form-group">
            <label>Kõrvad</label>
            </br>
            <img  src="~/lib/defaultassets/image/shop1.png" />
            </<br />
            <h3>Hind : 670</h3>  
        </div>
    </dl>
    </div>
    <div style="border: 2px solid; black; border-radius: 5px; display">
        <dl class="row">
            <div class="form-group">
                <label>Kõrvad</label>
                </br>
                <img src="~/lib/defaultassets/image/shop1.png" />
                </<br />
                <h3>Hind : 670</h3>
            </div>
        </dl>
    </dl>
    </div>
    <div style="border: 2px solid; black; border-radius: 5px; display">
        <dl class="row">
            <div class="form-group">
                <label>Kõrvad</label>
                </br>
                <img src="~/lib/defaultassets/image/shop1.png" />
                </<br />
                <h3>Hind : 670</h3>
            </div>
        </dl>>
    </dl>
</div>
</div>