<h3>Pood</h3>
</hr>

<div style="display: flex; flex-wrap: wrap; gap: 20px;">

    <div style="border: 2px solid black; border-radius: 5px; width: 250px; padding: 10px;">
        <label><strong>Kõrvad</strong></label>
        <br><br>
        <img src="~/lib/defaultassets/image/shop1.png" style="width:100%;" />
        <h3>Hind : 670</h3>
    </div>

    <div style="border: 2px solid black; border-radius: 5px; width: 250px; padding: 10px;">
        <label><strong>Kõrvad</strong></label>
        <br><br>
        <img src="~/lib/defaultassets/image/shop1.png" style="width:100%;" />
        <h3>Hind : 670</h3>
    </div>

    <div style="border: 2px solid black; border-radius: 5px; width: 250px; padding: 10px;">
        <label><strong>Kõrvad</strong></label>
        <br><br>
        <img src="~/lib/defaultassets/image/shop1.png" style="width:100%;" />
        <h3>Hind : 670</h3>

    </div>

</div>
<h3>Pood</h3>

