@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="h1">Menüü</div>

<div class="mb-1">
    <a asp-action="Index" asp-controller="Game" class="btn btn-primary">Mäng</a>
    <a asp-action="Index" asp-controller="Shop" class="btn btn-primary">Pood</a>
    <a asp-action="Leaderboard" asp-controller="Leaderboard" class="btn btn-primary">Leaderboard</a>
</div>