@{
    ViewBag.Title = "Login";
}
<h2>Logi sisse</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form id="loginForm" method="post" action="/YourTargetAction">

            <h1>Sisesta oma email</h1>
            <input type="email" name="userEmail" value="" class="form-control" />

            <br />

            <button type="submit" class="btn btn-primary">
                Login
            </button>

        </form>
    </div>
</div>


<script>
   
    document.getElementById('loginForm').onsubmit = function(e) {
        const userConfirmed = confirm("Logisid sisse kasutajana: " + userEmail);

        if (!userConfirmed) {
            e.preventDefault();
        }
    };
</script>